@model IEnumerable<QLKhachSan.Models.PHIEUDATPHONG>

@{
    ViewBag.Title = "Phiếu đặt phòng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="gtco-header" class="gtco-cover gtco-cover-sm g-header" role="banner" style="background-image: url(/Content/Home/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<br /><br /><br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Phiếu đặt phòng</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Result", "Home"))
                    {
                        @Html.AntiForgeryToken()
                        if (ViewBag.MAPHONG == null || ((String)ViewBag.MAPHONG).Equals("[]"))
                        {
                            <div class="alert alert-warning" role="alert">Bạn chưa chọn phòng để đặt. Vui lòng chọn phòng để hoàn tất phiếu đặt phòng !</div>
                        }
                        else
                        {
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group hidden">
                                    @Html.Label("Username", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBox("MAKH", (int)ViewBag.MAKH, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Họ tên", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBox("TENKH", (String)ViewBag.HOTEN, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Ngày đặt", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBox("NGAYDAT", (DateTime)ViewBag.NGAYDAT, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Ngày vào", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBox("NGAYVAO", (String)ViewBag.NGAYVAO, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Ngày ra", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBox("NGAYRA", (String)ViewBag.NGAYRA, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="form-group hidden">
                                    @Html.Label("Mã phòng", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBox("MAPHONG", (String)ViewBag.MAPHONG, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Số phòng", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextBox("TENPHONG", (String)ViewBag.SOPHONG, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-9">
                                        <input type="submit" value="Đặt phòng" class="btn btn-success" />
                                        <a href="@Url.Action("HuyPhieudatPhong", "Home")"><span class="btn btn-default">Hủy</span></a>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    <div>
                        @Html.ActionLink("Quay lại trang chủ", "Index")
                    </div>
                </div>
            </div>

        </div> <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Phòng đã đặt</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover" id="dataTable" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Tên KH")
                                </th>
                                <th>
                                    @Html.DisplayName("Ngày đặt")
                                </th>
                                <th>
                                    @Html.DisplayName("Ngày vào")
                                </th>
                                <th>
                                    @Html.DisplayName("Ngày ra")
                                </th>
                                <th>
                                    @Html.DisplayName("Số phòng")
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KHACHHANG.HOTEN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NGAYDAT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NGAYVAO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NGAYRA)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.PHONG.SOPHONG)
                                    </td>
                                    <td>
                                        <a class="nav-link" href="@Url.Action("XoaPhieuDatPhong", "Account", new { id = item.MAPHIEUDAT })">Hủy</a>
                                        @*<a class="nav-link" href="@Url.Action("SuaPhieuDatPhong", "KhachHang", new { id = item.ma_pdp })">Sửa</a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


