@model IEnumerable<QLKhachSan.Models.KHACHHANG>

@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Index")">Admin</a>
    </li>
    <li class="breadcrumb-item active">Danh sách khách hàng</li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Danh sách khách hàng
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="dataTable" cellspacing="0">
                <tr>
                    <th>
                        @Html.DisplayName("Email")
                    </th>
                    <th>
                        @Html.DisplayName("Họ tên")
                    </th>
                    <th>
                        @Html.DisplayName("Số CMT")
                    </th>
                    <th>
                        @Html.DisplayName("Số điện thoại")
                    </th>
                    <th>
                        @Html.DisplayName("Điểm")
                    </th>
                    <th></th>
                </tr>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.HOTEN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EMAIL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CMT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SDT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DIEM)
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.MAKH }) |
                                @Html.ActionLink("Chi tiết", "Details", new { id = item.MAKH }) 

                            </td>
                        </tr>
                    }
                </tbody>
</table>
        </div>
    </div>
    <div class="card-footer small text-muted">Cập nhật lần cuối lúc @DateTime.Now</div>
</div>
